<footer class="footer">
  <div class="container">
    <p class="text-muted">* smart.List created by Sajan Thiara, Sasha Mahalia, Martin Ho in part of Lighthouse Labs Web Development Bootcamp 2021 </p>
  </div>
</footer>
