<nav class="shadow-sm navbar">
  <a class="navbar-brand" href="/user/:id/list">smart.List</a>
    <div class="user d-flex">
      <img class="user-avatar mx-2" src="https://i.imgur.com/nlhLi3I.png">
        <div class="mx-2 my-1">
        <p class="user-name my-0"> John Doe</p>
        <p class="user-email my-0">john@example.com</p>
        <a href="/user/:id"> Edit your profile </a>
        </div>
        <form class="form-inline ml-3" action="/logout" method="POST">
          <button type="submit" class ="btn btn-outline-primary">
            Logout
          </button>
      </form>
    </div>
</nav>
