<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Disabling viewport -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/a88a03717f.js" crossorigin="anonymous"></script>

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <title>To Do - smart.List</title>
  </head>
  <body class="d-flex flex-column">
    <%- include("./partials/_header"); %>
    <main class="d-flex flex-column align-items-center justify-content-center">
        <div class="col align-items-center justify-content-center mt-5">
          <h1 class="display-6 row align-items-center justify-content-center">Remember what you love!</h1>
        </div>
      <% if (user)  { %>
        <section class="new-todo container row pt-2 mx-md-n10 align-items-center justify-content-center">
          <div class="col-10 px-5">
            <p class="error text-center text-danger"></p>
            <div class="row card-body">
              <form id="add-item" method="POST" action="/lists/:id">
                <div id="user-list" class="row pt-3">
                </div>
                <textarea name="text" id="todo-text" class="form-control shadow border-0" maxlength = "160" placeholder="Add an item"></textarea>
                <button class="btn btn-secondary form-control" type="submit"><i class="fas fa-plus"></i></button>
              </form>
            </div>
          </div>
        </section>
      <% } %>
      <% if (!user)  { %>
        <section class=" my-5 new-todo container text-monospace row pt-2 mx-md-n10 align-items-center justify-content-center">
        <p class="col-9">People are always <mark>recommending</mark> things to you, but you never actually get around to checking them out. <br><br>
          <mark>smart.List</mark> takes those recs and automatically sorts them into books to read, movies or shows to watch, stuff to buy or places to eat.<br><br>
          Your custom lists will make sure you know <mark>exactly</mark> where you want to go for lunch next, or what to check out next time you open up Netflix.
        </p>
        <i class="mt-4 mb-3 far fa-check-square fa-10x d-flex align-items-center justify-content-center"></i>
        <form class='my-5 login d-flex align-items-center justify-content-center'>
          <button type='submit' class="btn btn-outline-primary mr-2">Login to create your own lists!</button>
        </form>
        </section>
      <% } %>
      <% if (user)  { %>
        <section class="container d-flex flex-column justify-content-space-around align-items-space-around">
          <div class="row py-5 mx-md-n10 justify-content-center align-items-stretch">
            <div class="col-5 px-md-5">
              <div class="card watch">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-video mr-2"></i></i>Watch</h5>
                  <table class="table">
                    <tbody id="watch-items" class="connectedLists">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-5 px-md-5">
              <div class="card read">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-book mr-2"></i>Read</h5>
                  <table class="table">
                    <tbody id="read-items" class="connectedLists">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row py-0.5 mx-md-n10 justify-content-center align-items-stretch">
            <div class="col-5 pb-5 px-md-5">
              <div class="card buy">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-shopping-cart mr-2"></i></i>Buy</h5>
                  <table class="table">
                    <tbody id="buy-items" class="connectedLists">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-5 pb-5 px-md-5">
              <div class="card eat">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-utensils mr-2"></i></i>Eat</h5>
                  <table class="table">
                    <tbody id="eat-items" class="connectedLists">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      <% } %>

    </main>
    <!-- Bootstrap JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

