<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Disabling viewport -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <title>To Do - smart.List</title>
  </head>
  <body class="d-flex flex-column">
    <%- include("./partials/_header"); %>
    <main class="d-flex flex-column mx-5 my-2">
      <section class="new-todo">
        <div class="shadow-sm card-header mt-2">
        <h3 >
          My To-Do Lists
        </h3>
      </div>
      <div class="card-body">
      <form class="d-flex flex-column" method="POST" action="/lists/:id">
        <textarea id="todo-text" class="form-control shadow border-0" placeholder="What's on your to do...?"></textarea>
        <button class="shadow-sm btn btn-success" type="submit">Submit</button>
      </form>
    </div>
      </section>
      <section class="d-flex flex-row justify-content-between my-2 mx-0" id="list-container">
        <ul class="list-group col shadow">
          <li class="list-group-item"> Food List</li>
          <ul class="list-group-item">
            <li> Food 2</li>
            <li> Food 2</li>
          </ul>
        </ul>
        <ul class="list-group col shadow">
          <li class="list-group-item"> Watch List</li>
          <ul class="list-group-item">
            <li> Food 2</li>
            <li> Food 2</li>
          </ul>
        </ul>

        <ul class="list-group col shadow">
          <li class="list-group-item"> Watch List</li>
          <ul class="list-group-item">
            <li> Food 2</li>
            <li> Food 2</li>
          </ul>
        </ul>
    </section>
    </main>
    <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
