// See: https://sass-lang.com/
// Imports
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Roboto:wght@100&display=swap');
// Variables
$font-stack: "Barlow", cursive, "Roboto";
$font-colour:  #504f54;
$background: #FFFFFF;
$nav-background: #effaf6;

// Styles
body{
  font-family: $font-stack;
  color:$font-colour;

  .navbar{
    background-color: $nav-background;
  .navbar-brand{
    font-weight: 700;
    color:$font-colour;
    font-size: 30px;
  }

  }
  .card {
    opacity: 0.7;
  }
  .card:hover {
    opacity: 1;
    box-shadow: 0.7em 0.7em  #effaf6;
  }

  .new-todo p {
    opacity: 0.8;
  }

  .new-todo p:hover {
    opacity: 1;
  }

  .card-body {
    width: 8rm;
  }

  ul.list-group.col{
    padding-right:0;
    margin:1rem;
  }
  textarea {
    resize: none;
    opacity: 0.7;
    background: transparent;
    color: transparent;
 }
}

