// See: https://sass-lang.com/
// Imports
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Roboto:wght@100&display=swap');
// Variables
$font-stack: "Barlow", cursive, "Roboto";
$font-colour: #6E6E6E;
$background: #FFFFFF;
$nav-background: #FFA834;

// Styles
body{
  font-family: $font-stack;
  color:$font-colour;

  .navbar{
    background-color: $nav-background;
  .navbar-brand{
    font-weight: 700;
    color:$font-colour;
    font-size: 30px;
  }

  .user{
    color:#ffffff;
    font-family: "Roboto";
    }
  .bootstrap-cyan-button-normal-2 {
    width: 70px;
    height: 32px;
    padding: 0px 10px 0px 10px;
    background: #5bc0de;
    color: #ffffff;
    border-color: #46b8da;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    }
  }
  .card {
    opacity: 0.7;
  }
  .card:hover {
    opacity: 1;
    box-shadow: 0.5em 0.5em grey;
  }

  .card-body {
    width: 8rm;
  }

  ul.list-group.col{
    padding-right:0;
    margin:1rem;
  }
  textarea {
    resize: none;
    opacity: 0.7;
    background: transparent;
    color: transparent;
 }
}

